* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;   
}

/* 
HEADER START
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header--logo {
    font-size: 27px;
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
}
.header--menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: 350ms;
}
.header--menu-line {
    height: 3px;
    background-color: #000;   
    transition: 350ms; 
}
.header--menu-area {
    position: absolute;
    right: 20px;
    top: 67px;
    box-shadow: 0px 0px 7px #000;
    background-color: #3B576D;
    border-radius: 5px;
    overflow: hidden;
    transition: ease 0.8s;
    height: 0;
}
.header--menu-area li {
    list-style: none;
    padding: 10px 25px;  
}
.header--menu-area a {
    text-decoration: none;
    color: #FFF;     
    transition: 250ms; 
}
.header--menu-area a:hover {
    color: #333;
}
/* 
HEADER END
*/



/* 
MAIN SECTION START
*/
.main {
    display: flex;
    height: 100vh;
}
.main--left {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #3B576D;
    padding: 0 20px;
}
.info--area {    
    color: #FFF;
}
.info--area-profession {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
}
.info--area-name {
    font-size: 80px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}
.info--area-buttons a {
    display: inline-block;
    text-decoration: none;
    color: #3B576D;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 40px;
    background-color: #FFF;
    transition: 350ms;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #171717;
    margin-right: 10px;
}
.info--area-buttons a:nth-child(2) {
    color: #FFF;
    background-color: #3B576D;    
}
.info--area-buttons a:hover {
    color: #FFF;
    background-color: #3B576D;
    border: 1px solid #FFF;
    box-shadow: 5px 10px 20px #171717;
}
.info--area-buttons a:nth-child(2):hover {
    color: #3B576D;
    background-color: #FFF;    
    border: 1px solid #3B576D;
}

.main--right {
    flex: 1;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: top;
}
/* 
MAIN SECTION END
*/



/* 
FOOTER START
*/
footer {
    position: fixed;
    color: #FFF;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    font-size: 13px;
}
footer a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 0px 0px 7px #000;
}
/* 
FOOTER END
*/

@media (max-width: 850px) {

    header {
        position: initial;
        background-color: #3B576D;
    }

    .header--menu-line {
        background-color: #FFF;
    }

    .header--menu-area {
        background-color: #3B576D;
    }

    .main {
        flex-direction: column;        
    }

    .main--left {
        flex: none;
        justify-content: center;
        text-align: center;
        padding: 30px 20px;
    }

    footer {
        position: initial;
        font-size: 16px;
        background-color: #3B576D;
    }
    
}

@media (max-width: 450px) {

        .info--area-name {
            font-size: 50px;
        }

        .info--area-buttons a {
            display: block;
            margin-right: 0;
            margin-bottom: 20px;
        }

}